<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/headLinks::headLinks}"></th:block>
    <link rel="stylesheet" th:href="@{/assets/styles/style.css}">
    <meta charset="UTF-8">
    <script th:src="@{/assets/scripts/error.js}" type="module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>
</head>
<body class="margin-0 min-h-svh flex justify-center items-center bg-gradient" th:classappend="${theme}">
<div class="relative p-4 rounded-xl flex flex-col gap-4 w-full md:w-1/2 lg:w-[max(25%,480px)] items-center justify-center bg-background-modal light:bg-background-modal-light">
    <span class="font-material-sharp font-semibold text-[10rem]/[9rem] light:text-black text-primary">error</span>
    <div class="flex flex-row justify-center items-center flex-wrap gap-4">
        <p class="font-bold text-5xl" th:text="${status}"></p>
        <p class="text-3xl" th:text="${error}"></p>
        <p class="text-stone-400 light:text-stone-600 text-2xl text-center" th:text="${message}"></p>
        <p class="text-stone-400 light:text-stone-600" onclick="enterDebug()" id="redirect-countdown">Redirecting to home page... (5)</p>
        <p style="display: none" onclick="copyTrace()"
           class="bg-red-500/40 light:bg-red-300 w-full p-1 light:text-black text-white cursor-pointer break-word-legacy wrap-break-word"
           id="trace" title="Click to copy" th:text="${trace}">

        </p>
    </div>
</div>
</body>
</html>